@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Archivo:wght@500&family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@400;500&family=Roboto:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}